<%- include('../header') -%>
<h2 class="title">Edit Module</h2>

<form class="form-control" method="post">
  <label for="title">Title:</label>
  <input
    id="title"
    name="title"
    value="<%=module.title%>"
    required="required"
  /><br />

  <label for="course">Course:</label>
  <select id="course" name="course" required="required">
    <option value="">--</option>
    <% for (const {id, title} of courses) {%>
    <option 
        value="<%=id%>" 
        <% if(module.course_id == id) {%>
            selected
        <% } %>
    >
        <%=title%>
    </option>
    <% } %>
  </select>
  <br />

  <button type="submit">Submit</button>
</form>
<%- include('../footer') -%>
