<%- include('../header') -%>
<h2 class="title">List of Modules</h2>
<a class="create-button" href="/module/create/">Create Module</a>

<table style="width: 400px">
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Actions</th>
  </tr>

  <% for (const {id, title} of modules) {%>
  <tr>
    <td><%=id%></td>
    <td><%=title%></td>
    <td>
      <a href="/module/view/<%=id%>" class="view button">View</a>
      <a href="/module/edit/<%=id%>" class="edit button">Edit</a>
      <a href="/module/delete/<%=id%>" class="delete button">Delete</a>
    </td>
  </tr>
  <% } %>
</table>
<%- include('../footer') -%>
