<%- include('../header') -%> <% const {id, title, course} = module; %>
<h2 class="title">View Module</h2>
<table>
  <tr>
    <th>Id</th>
    <td><%=id%></td>
  </tr>
  <tr>
    <th>Title</th>
    <td><%=title%></td>
  </tr>
  <tr>
    <th>Course</th>
    <td><%=course.title%></td>
  </tr>
</table>
<%- include('../footer') -%>
