<%- include('../header') -%> <% const {id, title, description, next_lesson_id,
module_id} = lesson; %>
<h2 class="title">Edit Lesson</h2>

<form class="form-control" action="../list/lesson.html">
  <label for="title">Title:</label>
  <input id="title" name="title" value="<%=title%>" /><br />

  <label for="description">Description:</label>
  <input
    id="description"
    name="description"
    value="<%=description%>"
  /><br />

  <label for="module">Module:</label>
  <select id="module" name="module" required="required">
    <option value="">--</option>
    <% for (const {id, title} of modules) {%>
    <option 
        value="<%=id%>"
        <% if(id == module_id){ %> selected <% } %>
    >
        <%=title%>
    </option>
    <% } %>
  </select>
  <br />

  <label for="next_lesson">Next Lesson:</label>
  <select id="next_lesson" name="next_lesson" required="required">
    <option value="">--</option>
    <% for (const {id, title} of lessons) {%>
    <option 
        value="<%=id%>"
        <% if(id == next_lesson_id){ %> selected <% } %>
        ><%=title%></option>
    <% } %>
  </select>
  <br />

  <button type="submit">Submit</button>
</form>
<%- include('../footer') -%>
