<%- include('../header') -%>
<h2 class="title">List of Lessons</h2>
<a class="create-button" href="/lesson/create/">Create Lesson</a>

<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Next Lesson</th>
    <th>Actions</th>
  </tr>

  <% for (const {id, title, nextLessonId} of lessons) {%>
  <tr>
    <td><%=id%></td>
    <td><%=title%></td>
    <td><%=nextLessonId%></td>
    <td>
      <a href="/lesson/view/<%=id%>" class="view button">View</a>
      <a href="/lesson/edit/<%=id%>" class="edit button">Edit</a>
      <a href="/lesson/delete/<%=id%>" class="delete button">Delete</a>
    </td>
  </tr>
  <% } %>
</table>
<%- include('../footer') -%>
