<%- include('../header') -%> <% const {id, title, description, moduleId,
nextLessonId} = lesson; %>
<h2 class="title">View Lesson</h2>

<table>
  <tr>
    <th>Id</th>
    <td><%=id%></td>
  </tr>
  <tr>
    <th>Title</th>
    <td><%=title%></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%=description%></td>
  </tr>
  <tr>
    <th>Module</th>
    <td><%=moduleId%></td>
  </tr>

  <tr>
    <th>Next Lesson</th>
    <td><%=nextLessonId%></td>
  </tr>
</table>
<%- include('../footer') -%>
