<%- include('../header') -%>
<% const {id, title, description, launch_date} = course; %>
<h2 class="title">Edit Course</h2>

<form class="form-control" method="post" action="/course/edit/<%=id%>">
    <label for="title">Title:</label>
    <input name="title" id="title" placeholder="What's the name of the course?" value="<%=title%>" required="required"><br>

    <label for="description">Description:</label>
    <input name="description" id="description" placeholder="Tell more about the course ... " value="<%=description%>" required="required"><br>

    <label for="launch_date">Launch Date:</label>
    <input name="launch_date" type="date" id="launch_date" placeholder="When's the course is launched" value="<%=launch_date.toISOString().split('T')[0]%>" required="required"><br>

    <button type="submit">Submit</button>
</form>
<%- include('../footer') -%>