<%- include('../header') -%>
<h2 class="title">List of Courses</h2>
<a class="create-button" href="/course/create">Create Course</a>

<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Launch Date</th>
    <th>Actions</th>
  </tr>

  <% for (const {id, title, launch_date} of courses) {%>
  <tr>
    <td><%=id%></td>
    <td><%=title%></td>
    <td><%=launch_date.toDateString()%></td>
    <td>
      <a href="/course/view/<%=id%>" class="view button">View</a>
      <a href="/course/edit/<%=id%>" class="edit button">Edit</a>
      <a href="/course/delete/<%=id%>" class="delete button">Delete</a>
    </td>
  </tr>
  <% } %>
</table>
<%- include('../footer') -%>