<%- include('../header') -%>
<% const {id, title, description, launch_date} = course; %>
<h2 class="title">View Course</h2>

<table>
    <tr>
        <th>Id</th>
        <td><%=id%></td>
    </tr>
    <tr>
        <th>Title</th>
        <td><%=title%></td>
    </tr>
    <tr>
        <th>Description</th>
        <td><%=description%></td>
    </tr>
    <tr>
        <th>Launch Date</th>
        <td><%=launch_date.toDateString()%></td>
    </tr>
</table>
<%- include('../footer') -%>